<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Management Overlay</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Order Management App</h1>
        <div class="status-board">
            <div class="status">Waiting: <span id="waiting">{{ incomplete_orders | length }}</span></div>
            <div class="status">In Process: <span id="inprocess">{{ processing_orders | length }}</span></div>
            <div class="status">Processed: <span id="processed">{{ completed_orders | length }}</span></div>
        </div>

        <div class="controls">
            <label for="mode">Mode:</label>
            <select id="mode">
                <option value="Baseline">Baseline</option>
                <option value="Recommendation">Recommendation</option>
            </select>
            <button id="start-batch">Start Producing Next Batch</button>
            <button id="history" onclick="window.location.href='/history'">View Completed Orders</button>
        </div>

        <h2>Current Order Batch</h2>
        <table>
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Start Time</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody id="current-batch">
                {% for order in processing_orders %}
                <tr>
                    <td>{{ order["id"][24:] }}</td>
                    <td>{{ order["productionStartTime"] }}</td>
                    <td>{{ order["orderQuantity"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Waiting List</h2>
        <table>
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Order Arrival Time</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody id="waiting-list">
                {% for order in incomplete_orders %}
                <tr>
                    <td>{{ order["id"][24:] }}</td>
                    <td>{{ order["creationTime"] }}</td>
                    <td>{{ order["orderQuantity"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    <script src="{{ url_for('static', filename='script_p1.js') }}"></script>   
</body>
</html>
